<section>
    <div class="container-fluid breadcrumbWrapper truncate-ellipsis">
        <div class="container">
            <div class="row">
                <div class="col-9 d-flex align-items-center">
                    <nav class="d-flex align-items-center" style="font-size: 1em;">
                        <a class="breadcrumb-item fontGreyDark" href="/">
                            <span class="glyphicons glyphicons-home"></span>
                        </a>

                        <span class="breadcrumb-item separators active"></span>
                        <span class="fontBlue" title="Dashboard">Dashboard</span>


                    </nav>
                </div>
                <div class="col-3 accountSettings fontGreyDark vertical-center-text-right d-inline"
                    style="font-size: 1em;">
                    <a href="#">
                        <span class="glyphicons glyphicons-user d-inline"></span>&nbsp;
                        <span class="d-none d-sm-inline">Hien Le</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>