<div id="dashboardOverviewFree" class="dashboardOverview dashboardOverviewSeller">
    <!-- BANNER1 -->
    <div class="banner1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1><strong>Welcome </strong>to your GKS Admin Tool</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- BANNER2 -->
    <div class="banner2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9 large-group">
                    <div class="text">
                        <p>Your <strong>access rights</strong> at GKS platforms</p>
                    </div>


                    <!--<div class="inner-group">
            <div class="leftbig-group">
              <div class="lleft-group">
                <span class="glyphicons glyphicons-shop-window"></span>
                <span class="glyphicons glyphicons-ok"></span>

              </div>
              <div class="left-group">
                <div><p><span class="glyphicons glyphicons-ok" aria-hidden="true"></span> </p></div>
                <div><p><span class="glyphicons glyphicons-ok" aria-hidden="true"></span> </p></div>
              </div>
              <div class="right-group"><img src="/images/dashboard/Rimage.png"></div>
            </div>

            <div class="rightbig-group">
              <div class="left-group"><img src="/images/dashboard/Gimage.png"></div>
              <div class="right-group">
                <div><p><span class="glyphicons glyphicons-ok" aria-hidden="true"></span> </p></div>
                <div><p><span class="glyphicons glyphicons-minus-sign" aria-hidden="true"></span> </p></div>
              </div>
              <div class="rright-group">
                <img src="/images/dashboard/shop.png">
              </div>
            </div>
          </div>-->
                    <div class="inner-group">
                        <div class="leftbig-group">
                            <div class="lleft-group">
                                <span class="glyphicons glyphicons-shop-window"></span><span
                                    class="glyphicons glyphicons-ok"></span> </div>

                            <div class="left-group">
                                <div>
                                    <p><span class="glyphicons glyphicons-ok" aria-hidden="true"></span> Sell</p>
                                </div>
                                <div>
                                    <p><span class="glyphicons glyphicons-ok" aria-hidden="true"></span> Buy</p>
                                </div>
                            </div>
                            <div class="right-group"><img src="/images/dashboard/Rimage.png"></div>
                        </div>

                        <div class="rightbig-group">


                            <div class="left-group"><img src="/images/dashboard/Gimage.png"></div>
                            <div class="right-group">
                                <div>
                                    <p><span class="glyphicons glyphicons-minus-sign" aria-hidden="true"></span>
                                        Information</p>
                                </div>
                                <div>
                                    <p><span class="glyphicons glyphicons-minus-sign" aria-hidden="true"></span> Buy /
                                        Sell</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-lg-3 small-group">
                    <div class="row">
                        <div class="col-6"><img class="img-responsive" src="/images/seals/SELLER_invert_EN.png"></div>
                        <div class="col-6"><img class="img-responsive memberina-block"
                                src="/images/seals/PROFI-SELLER_inaktiv_EN.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--BODY-->
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 main-contain">
                <div class="groupa">

                    <div class="row row1">
                        <div class="col-12 row1-inner">
                            <h3 class="section-ttl">
                                <img src="/images/dashboard/rshop.png">
                                RESTPOSTEN.de Shop
                            </h3>
                        </div>
                    </div>
                    <div class="row row2">
                        <div class="col-12 row2-inner">


                            <div>
                                <span class="glyphicons glyphicons-ok-circle"></span>
                                <h4>About us</h4>
                                <!--<p><a href="#"></a></p>-->
                                <p>Information ready</p>

                            </div>

                            <div>
                                <span class="glyphicons glyphicons-ok-circle"></span>
                                <h4>Privacy policy</h4>
                                <!--<p><a href="#"></a></p>-->
                                <p>Information ready</p>
                            </div>
                            <div>
                                <span class="glyphicons glyphicons-ok-circle"></span>
                                <h4>Imprint</h4>
                                <!--<p><a href="#"></a></p>-->
                                <p>Information ready</p>
                            </div>
                            <div>
                                <span class="halflings halflings-record-empty"></span>
                                <h4>GTC</h4>
                                <p>Not ready</p>
                            </div>

                            <div>
                                <span class="glyphicons glyphicons-ok-circle"></span>
                                <h4>Custom categories</h4>
                                <!--<p><a href="#"></a></p>-->
                                <p>create</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="groupb">
                    <div class="row row1">
                        <div class="col-12">
                            <h3 class="section-ttl"><strong>Your offers</strong> overview</h3>
                        </div>
                    </div>
                    <div class="row2">

                        <div>
                            <h4><span class="halflings halflings-check" aria-hidden="true"></span> 4</h4>
                            <p>PRODUCTS</p>
                            <p>LIVE</p>
                        </div>

                        <div>
                            <h4><span class="halflings halflings-edit"></span> 0</h4>
                            <p>IN EDITORIAL</p>
                            <p>REVIEW</p>
                        </div>

                        <div>
                            <h4><span class="halflings halflings-check" aria-hidden="true"></span> 0</h4>
                            <p>PRODUCTS</p>
                            <p>REACTIVATE</p>
                        </div>

                    </div>
                </div>



                <div class="groupd">
                    <div class="grouptop">
                        <h3 class="section-ttl">
                            <img src="/images/dashboard/pint-ok.png">
                            TOP SELLER certificate </h3>
                    </div>
                    <div class="groupbody">
                        <div class="dsidebar">
                            <img src="/images/seals/TOP-SELLER_inaktiv_EN.png">
                        </div>
                        <div class="dmain d-none d-md-block">
                            <div class="row1">
                                <div class="icongroup">
                                    <span class="icon glyphicons glyphicons-grater"></span>
                                    <span class="icon glyphicons glyphicons-cargo"></span>
                                    <span class="icon glyphicons glyphicons-coins"></span>
                                    <span class="icon glyphicons glyphicons-clock"></span>
                                    <span class="icon"><img src="/images/dashboard/guardshop.png"></span>

                                </div>

                            </div>
                            <div class="row2">
                                <hr>
                                <div class="item item1">
                                    <span class="halflings halflings-ok-circle"></span>
                                    <h4>Adress</h4>
                                    <p>warranted</p>
                                </div>

                                <div class="item item1">
                                    <span class="halflings halflings-record-empty"></span>
                                    <h4>Product inspection</h4>
                                    <p>warranted</p>
                                </div>

                                <div class="item item2">
                                    <span class="halflings halflings-ok-circle"></span>
                                    <h4>Financial rating</h4>
                                    <p>proved</p>
                                </div>

                                <div class="item item3">
                                    <span class="halflings halflings-record-empty"></span>
                                    <h4>Response time</h4>
                                    <p>very good</p>
                                </div>

                                <div class="item item4">
                                    <span class="halflings halflings-record-empty"></span>
                                    <h4>Purchase protection</h4>
                                    <p>possible</p>
                                </div>
                            </div>
                        </div>

                        <div class="dmain d-md-none">
                            <div class="row2 dbody-inner">

                                <div class="ite ite1">
                                    <div class="group-icon">
                                        <span class="icon glyphicons glyphicons-grater"></span>
                                        <span class="halflings halflings-ok-circle"></span>
                                    </div>
                                    <div class="group-text">
                                        <h4>Adress</h4>
                                        <p>warranted</p>
                                    </div>
                                </div>

                                <div class="ite ite2">
                                    <div class="group-icon">
                                        <span class="icon glyphicons glyphicons-cargo"></span>
                                        <span class="halflings halflings-record-empty"></span>
                                    </div>
                                    <div class="group-text">
                                        <h4>Product inspection</h4>
                                        <p>warranted</p>
                                    </div>
                                </div>

                                <div class="ite ite3">
                                    <div class="group-icon">
                                        <span class="icon glyphicons glyphicons-coins"></span>
                                        <span class="halflings halflings-ok-circle"></span>
                                    </div>
                                    <div class="group-text">
                                        <h4>Financial rating</h4>
                                        <p>proved</p>
                                    </div>
                                </div>

                                <div class="ite ite4">
                                    <div class="group-icon">
                                        <span class="icon glyphicons glyphicons-clock"></span>
                                        <span class="halflings halflings-record-empty"></span>
                                    </div>
                                    <div class="group-text">
                                        <h4>Response time</h4>
                                        <p>very good</p>
                                    </div>
                                </div>
                                <div class="ite ite5">
                                    <div class="group-icon">
                                        <span class="icon"><img src="/images/dashboard/guardshop.png"></span>
                                        <span class="halflings halflings-record-empty"></span>
                                    </div>
                                    <div class="group-text">
                                        <h4>Purchase protection</h4>
                                        <p>possible</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="group2">
                    <div class="row">
                        <div class="col-12 col-md-3 dsidebar"><span class="glyphicons glyphicons-bullhorn"></span></div>
                        <div class="col-12 col-md-9 dmain">
                            <div class="left-group">
                                <h3>RESTPOSTEN.de Advertisement services</h3>
                                <p>Inform yourself now and achieve more!</p>
                                <p>Antje Paschen is waiting for your phone call:</p>
                                <h4>Tel. +49 212-380 89 0</h4>
                            </div>
                            <div class="right-group"><img src="/images/dashboard/avatar.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="group3">
                    <h3><span class="halflings halflings-list-alt"></span> Changelog</h3>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <h4><strong>Address management</strong></h4>
                            <p>Manage your address book comfortably in your Admin Tool.</p>
                            <a href="/changelog/1">Read more</a>
                        </div>
                        <div class="col-12 col-md-4">
                            <h4><strong>System change</strong></h4>
                            <p>Soon all service features will be available to you in your new Admin Tool.</p>
                            <a href="/changelog/2">Read more</a>
                        </div>
                        <div class="col-12 col-md-4">
                            <h4><strong>Browser support</strong></h4>
                            <p>Mit dem neuen Update Release 2.3.5 wird der Opera-Browser woll unterztüzt</p>
                            <a href="/changelog/3">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 left-sidebar">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-12">
                        <h3><span class="glyphicons glyphicons-vcard"></span> Profile</h3>
                        <img src="/images/dashboard/jean.jpg" class="img-fluid">
                        <div>
                            <h4>Customer no.</h4>
                            <p>56789</p>
                        </div>

                        <div>
                            <h4>Business license</h4>
                            <p>liegt vor </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-12">
                        <div>
                            <h4>Company name</h4>
                            <p>GKS</p>
                        </div>

                        <div>
                            <h4>Adress</h4>
                            <p>street 2</p>
                            <p>district 2 70000</p>
                            <p>hcm viet nam</p>
                        </div>

                        <div>
                            <h4>Contact person</h4>
                            <p>Geschäftsführer</p>
                        </div>

                        <div>
                            <h4>VAT no.</h4>
                            <p>tax_inter</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-12">
                        <div>
                            <h4>Phone 1</h4>
                            <p>123456789</p>
                        </div>

                        <div>
                            <h4>Phone 2</h4>
                            <p>123456789</p>
                        </div>

                        <div>
                            <h4>Fax</h4>
                            <p>123456789</p>
                        </div>

                        <div>
                            <h4>E-Mail</h4>
                            <p>123456789</p>
                        </div>
                        <button class="btn btn-primary"><span class="halflings halflings-info-sign"></span> MORE
                            INFO</button>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <section>
        <div class="footerWrapper pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a href="/imprint.php">Imprint</a>
                        <span>&nbsp;|&nbsp;</span>
                        <a href="/privacy.php">Privacy policy</a>
                        <span>&nbsp;|&nbsp;</span>
                        <a href="/gtc.php">GTC</a>
                        <span>&nbsp;|&nbsp;</span>
                        <a href="/advertising-terms-and-conditions.php">Advertising conditions</a>
                    </div>
                    <div class="col-12">© 1997-2019 GKS Handelssysteme GmbH</div>
                </div>
            </div>
        </div>
    </section>



    <!--<script async src="/js/popper.min.js" ></script>
<script async src="/js/bootstrap.min.js" ></script>-->

    
    
    <div id="loader">Loading…</div>
</div>