@charset "UTF-8";
/*body{
    background: #f3f3f3;
    background: #0d3468;
    background: #ffffff;
    background: #ddd301;

}*/
.sidebar .nav-link.active {  /*Large active */
    color: #fff !important;
    background: #0d3468;
}
.sidebar { /* Large backgrouund level 1 */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    color: #fff;
    background: #f3f3f3;
    padding-top: 35px;
}
.sidebar .nav-link.nav-link-primary {
    background: #20a8d8
}
.sidebar .nav-link.active .nav-icon { /*Large active  icon*/
    color: #fff;
}

.sidebar .nav-link:hover {   /*Large hover */
    color: #0d3468;
    background: #ddd301
}

.sidebar .nav-link:hover .nav-icon { /*Large hover icon*/
    color: #0d3468
}
.sidebar .nav-dropdown.open .nav-link {
    color: #0d3468;
    border-left: 0
}
.sidebar .nav-dropdown.open {
    background: rgba(0, 0, 0, .1)
}

.sidebar-minimized .sidebar .nav-item:hover > .nav-link {
    background: #ddd301;
}
.sidebar-minimized .sidebar .nav-link:hover {
    width: 255px;
    background: #ddd301
}



.sidebar-minimized .sidebar .nav-link:hover .nav-icon {
    color: #0d3468

}
.sidebar-minimized .sidebar .nav-item:hover > .nav-link .nav-icon {
    color: #0d3468
}
.sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items {
    display: none;
    max-height: 1000px;
/*    background: rgba(0, 0, 0, 0.1);*/
    background: #DDDDDD;
}
.sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items .nav-icon{
    margin-right: -6px;
    margin-top: -7px;
    margin-left: -5px !important;
}
@media (min-width: 992px) {
    .sidebar-fixed .sidebar {
        position: fixed;
        z-index: 1019;
        width: 205px;
        height: 100vh
    }
    .sidebar-minimized .sidebar .nav-item:hover > .nav-link {
        background: #ddd301;
    }
    .sidebar-minimized .sidebar .nav-link:hover {
        width: 255px;
        background: #ddd301
    }
    .sidebar-minimized .sidebar .nav-item:hover > .nav-link .nav-icon {
        color: #0d3468
    }
    .sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items {
        display: none;
        max-height: 1000px;
        background: #DDDDDD;
    }
    .sidebar-compact .sidebar .sidebar-nav {
        width: 155px
    }

    .sidebar-compact .sidebar .nav {
        width: 155px
    }
}

.sidebar .nav-bottom{
     position: relative;
     flex: 0 0 41px !important;
 }
/*
.sidebar-minimized  .sidebar .sidebar-nav{
    position: relative;
    flex: 0 0 0px !important;
}
*/

.sidebar .progress {
    background-color: #515c64 !important
}

.sidebar .nav-link.nav-link-primary {
    background: #20a8d8
}

.sidebar .nav-link.nav-link-primary .nav-icon {
    color: rgba(255, 255, 255, .7)
}

.sidebar .nav-link.nav-link-primary:hover {
    background: #1d97c2
}

.sidebar .nav-link.nav-link-primary:hover i {
    color: #fff
}

.sidebar .nav-link.nav-link-secondary {
    background: #c8ced3
}

.sidebar .nav-link.nav-link-secondary .nav-icon {
    color: rgba(255, 255, 255, .7)
}

.sidebar .nav-link.nav-link-secondary:hover {
    background: #bac1c8
}

.sidebar .nav-link.nav-link-secondary:hover i {
    color: #fff
}

.sidebar .nav-link.nav-link-success {
    background: #4dbd74
}

.sidebar .nav-link.nav-link-success .nav-icon {
    color: rgba(255, 255, 255, .7)
}

.sidebar .nav-link.nav-link-success:hover {
    background: #41af67
}

.sidebar .nav-link.nav-link-success:hover i {
    color: #fff
}

.sidebar .nav-link.nav-link-info {
    background: #63c2de
}

.sidebar .nav-link.nav-link-info .nav-icon {
    color: rgba(255, 255, 255, .7)
}

.sidebar .nav-link.nav-link-info:hover {
    background: #4ebada
}

.sidebar .nav-link.nav-link-info:hover i {
    color: #fff
}

.sidebar .nav-link.nav-link-warning {
    background: #ffc107
}

.sidebar .nav-link.nav-link-warning .nav-icon {
    color: rgba(255, 255, 255, .7)
}

.sidebar .nav-link.nav-link-warning:hover {
    background: #edb100
}

.sidebar .nav-link.nav-link-warning:hover i {
    color: #fff
}

.sidebar .nav-link.nav-link-danger {
    background: #f86c6b
}

.sidebar .nav-link.nav-link-danger .nav-icon {
    color: rgba(255, 255, 255, .7)
}

.sidebar .nav-link.nav-link-danger:hover {
    background: #f75453
}

.sidebar .nav-link.nav-link-danger:hover i {
    color: #fff
}

.sidebar .nav-link.nav-link-light {
    background: #f0f3f5
}

.sidebar .nav-link.nav-link-light .nav-icon {
    color: rgba(255, 255, 255, .7)
}

.sidebar .nav-link.nav-link-light:hover {
    background: #e1e7eb
}

.sidebar .nav-link.nav-link-light:hover i {
    color: #fff
}

.sidebar .nav-link.nav-link-dark {
    background: #2f353a
}

.sidebar .nav-link.nav-link-dark .nav-icon {
    color: rgba(255, 255, 255, .7)
}

.sidebar .nav-link.nav-link-dark:hover {
    background: #24282c
}

.sidebar .nav-link.nav-link-dark:hover i {
    color: #fff
}

@media all and (-ms-high-contrast: none) {
    html {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.app {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh
}

html:not([dir=rtl]) .sidebar {
    margin-left: -205px
}

html:not([dir=rtl]) .aside-menu {
    margin-right: -255px
}

html[dir=rtl] .sidebar {
    margin-right: -205px
}

html[dir=rtl] .aside-menu {
    margin-left: -255px
}


.sidebar .sidebar-close {
    position: absolute;
    right: 0;
    display: none;
    padding: 0 1rem;
    font-size: 24px;
    font-weight: 800;
    line-height: 55px;
    color: #fff;
    background: 0;
    border: 0;
    opacity: .8
}

.sidebar .sidebar-close:hover {
    opacity: 1
}

.sidebar .sidebar-header {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: .75rem 0.2rem;
    text-align: center;
    background: rgba(0, 0, 0, .2)
}

.sidebar .sidebar-form .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .7)
}

.sidebar .sidebar-form .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, .7)
}

.sidebar .sidebar-form .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, .7)
}

.sidebar .sidebar-form .form-control::-ms-input-placeholder {
    color: rgba(255, 255, 255, .7)
}

.sidebar .sidebar-form .form-control::placeholder {
    color: rgba(255, 255, 255, .7)
}

.sidebar .sidebar-nav {
    position: relative;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 205px
}

.sidebar .nav {
    width: 205px;
    -ms-flex-direction: column;
    flex-direction: column;
/*    min-height: 100%;*/
    padding: 0
}

.sidebar .nav-title {
    padding: .75rem 1rem;
    font-size: 80%;
    font-weight: 700;
    color: #e4e7ea;
    text-transform: uppercase
}

.sidebar .nav-divider {
    height: 10px
}

.sidebar .nav-item {
    position: relative;
    margin: 0;
    transition: background .3s ease-in-out
}

.sidebar .nav-dropdown-items {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    transition: max-height .3s ease-in-out
}

.sidebar .nav-dropdown-items .nav-item {
    padding: 0;
    list-style: none
}

.sidebar .nav-link {
    display: block;
    padding: .75rem 0.2rem;
    color: #0d3468;
    text-decoration: none;
    background: 0 0
}

.sidebar .nav-link .nav-icon {
    display: inline-block;
    width: 1.09375rem;
    margin: 0 .5rem 0 0;
    font-size: .875rem;
    color: #73818f;
    text-align: center;
    margin-top: -4px;
}
.sidebar .sidebar-form .form-control {
    color: #fff;
    background: #181b1e;
    border: 0
}
.sidebar .nav-link .badge {
    float: right;
    margin-top: 2px
}

.sidebar .nav-link:hover.nav-dropdown-toggle::before {
    background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nI2ZmZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+)
}


.sidebar .nav-dropdown-toggle {
    position: relative
}

.sidebar .nav-dropdown-toggle::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    margin-top: -4px;
    content: "";
    background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nIzczODE4ZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: center;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}



.sidebar .nav-dropdown.open > .nav-dropdown-items {
    max-height: 1500px;
}
.sidebar .nav-dropdown.open > .nav-dropdown-items .nav-item .nav-link .nav-icon{
    margin-left: 10px;
}
.brand-minimized .sidebar .nav-dropdown.open > .nav-dropdown-items {
    margin-left: 0px;
}



.sidebar .nav-dropdown.open > .nav-dropdown-toggle::before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.sidebar .nav-dropdown.open .nav-dropdown.open {
    border-left: 0
}

.sidebar .nav-label {
    display: block;
    padding: .09375rem 1rem;
    color: #e4e7ea
}

.sidebar .nav-label:hover {
    color: #fff;
    text-decoration: none
}

.sidebar .nav-label .nav-icon {
    width: 20px;
    margin: -3px .5rem 0 0;
    font-size: 10px;
    color: #73818f;
    text-align: center;
    vertical-align: middle
}

.sidebar .sidebar-footer {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: .75rem 1rem;
    background: rgba(0, 0, 0, .2)
}

.sidebar .sidebar-minimizer {
    position: relative;
    -ms-flex: 0 0 35px;
    flex: 0 0 35px;
    background-color: rgba(0, 0, 0, .2);
    border: 0
}

.sidebar .sidebar-minimizer::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 39px;
    content: "";
    background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nIzczODE4ZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12.5px;
    transition: .3s
}

.sidebar .sidebar-minimizer:focus, .sidebar .sidebar-minimizer.focus {
    outline: 0
}

.sidebar .sidebar-minimizer:hover {
    background-color: rgba(0, 0, 0, .3)
}

.sidebar .sidebar-minimizer:hover::before {
    background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMSAxNCc+PHBhdGggZmlsbD0nI2ZmZicgZD0nTTkuMTQ4IDIuMzUybC00LjE0OCA0LjE0OCA0LjE0OCA0LjE0OHEwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJsLTEuMjk3IDEuMjk3cS0wLjE0OCAwLjE0OC0wLjM1MiAwLjE0OHQtMC4zNTItMC4xNDhsLTUuNzk3LTUuNzk3cS0wLjE0OC0wLjE0OC0wLjE0OC0wLjM1MnQwLjE0OC0wLjM1Mmw1Ljc5Ny01Ljc5N3EwLjE0OC0wLjE0OCAwLjM1Mi0wLjE0OHQwLjM1MiAwLjE0OGwxLjI5NyAxLjI5N3EwLjE0OCAwLjE0OCAwLjE0OCAwLjM1MnQtMC4xNDggMC4zNTJ6Jy8+PC9zdmc+)
}

@media (min-width: 992px) {
    
    .sidebar-compact .sidebar .d-compact-none {
        display: none
    }

    .sidebar-compact .sidebar .nav-title {
        text-align: center
    }

    .sidebar-compact .sidebar .nav-item {
        width: 155px;
        border-left: 0
    }

    .sidebar-compact .sidebar .nav-link {
        text-align: center
    }

    .sidebar-compact .sidebar .nav-link .nav-icon {
        display: block;
        width: 100%;
        margin: .25rem 0;
        font-size: 24px
    }

    .sidebar-compact .sidebar .nav-link .badge {
        position: absolute;
        top: 18px;
        right: 10px
    }

    .sidebar-compact .sidebar .nav-link.nav-dropdown-toggle::before {
        top: 30px
    }

    .sidebar-minimized .sidebar {
        z-index: 1019
    }

    .sidebar-minimized .sidebar .sidebar-nav {
        overflow: visible;
        width: 50px
    }

    .sidebar-minimized .sidebar .nav {
        width: 50px
    }

    .sidebar-minimized .sidebar .d-minimized-none, .sidebar-minimized .sidebar .nav-divider, .sidebar-minimized .sidebar .nav-label, .sidebar-minimized .sidebar .nav-title, .sidebar-minimized .sidebar .sidebar-footer, .sidebar-minimized .sidebar .sidebar-form, .sidebar-minimized .sidebar .sidebar-header {
        display: none
    }

    .sidebar-minimized .sidebar .sidebar-minimizer::before {
        width: 100%;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }

    .sidebar-minimized .sidebar .nav-item {
        width: 50px;
        overflow: hidden
    }

    .sidebar-minimized .sidebar .nav-item:hover {
        width: 255px;
        overflow: visible
    }


    .sidebar-minimized .sidebar .nav-link {
        position: relative;
        padding-left: 0;
        margin: 0;
        white-space: nowrap;
        border-left: 0
    }

    .sidebar-minimized .sidebar .nav-link .nav-icon {
        display: block;
        float: left;
        width: 50px;
        font-size: 18px
    }

    .sidebar-minimized .sidebar .nav-link .badge {
        position: absolute;
        right: 15px;
        display: none
    }

    .sidebar-minimized .sidebar .nav-link:hover .badge {
        display: inline
    }

    .sidebar-minimized .sidebar .nav-link.nav-dropdown-toggle::before {
        display: none
    }

    .sidebar-minimized .sidebar .nav-dropdown-items .nav-item {
        width: 205px
    }

    .sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
        width: 205px
    }



    .sidebar-minimized .sidebar .nav > .nav-dropdown:hover {
        background: #20a8d8
    }

    .sidebar-minimized .sidebar .nav > .nav-dropdown:hover > .nav-dropdown-items {
        position: absolute;
        left: 50px;
        display: inline
    }
}


@media (min-width: 992px) {
    .header-fixed .app-header {
        position: fixed;
        z-index: 1020;
        width: 100%
    }

    .header-fixed .app-body {
        margin-top: 55px
    }
    

    .sidebar-fixed .app-header + .app-body .sidebar {
        height: calc(100vh - 55px)
    }

    .sidebar-compact .sidebar {
        -ms-flex: 0 0 155px;
        flex: 0 0 155px
    }

    .sidebar-compact.sidebar-fixed .sidebar {
        width: 155px
    }

    .sidebar-compact .sidebar-minimizer {
        display: none
    }

    .sidebar-minimized .sidebar {
        -ms-flex: 0 0 50px;
        flex: 0 0 50px
    }

    .sidebar-minimized.sidebar-fixed .sidebar {
        width: 50px
    }

    .sidebar-off-canvas .sidebar {
        position: fixed;
        z-index: 1019;
        height: 100%
    }

    .sidebar-off-canvas .app-header + .app-body .sidebar {
        height: calc(100vh - 55px)
    }

    html:not([dir=rtl]) .sidebar-compact .sidebar {
        margin-left: -155px
    }

    html:not([dir=rtl]) .sidebar-minimized .sidebar {
        margin-left: -50px
    }

    html[dir=rtl] .sidebar-compact .sidebar {
        margin-right: -155px
    }

    html[dir=rtl] .sidebar-minimized .sidebar {
        margin-right: -50px
    }

    .aside-menu-fixed .aside-menu {
        position: fixed;
        height: 100%
    }

    .aside-menu-fixed .aside-menu .tab-content {
        height: calc(100vh - 2.375rem - 55px)
    }

    .aside-menu-fixed .app-header + .app-body .aside-menu {
        height: calc(100vh - 55px)
    }

    .aside-menu-off-canvas .aside-menu {
        position: fixed;
        z-index: 1019;
        height: 100%
    }

    .aside-menu-off-canvas .app-header + .app-body .aside-menu {
        height: calc(100vh - 55px)
    }

    html:not([dir=rtl]) .aside-menu-fixed .aside-menu, html:not([dir=rtl]) .aside-menu-off-canvas .aside-menu {
        right: 0
    }

    html[dir=rtl] .aside-menu-fixed .aside-menu, html[dir=rtl] .aside-menu-off-canvas .aside-menu {
        left: 0
    }
}

.breadcrumb-fixed .main {
    padding-top: 3.875rem
}

.breadcrumb-fixed .breadcrumb {
    position: fixed;
    top: 55px;
    right: 0;
    left: 0;
    z-index: 1017
}

html:not([dir=rtl]) .sidebar-show .sidebar {
    margin-left: 0
}

@media (min-width: 576px) {
    html:not([dir=rtl]) .sidebar-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-show.sidebar-fixed .app-footer {
        margin-left: 205px
    }

    html:not([dir=rtl]) .sidebar-show.sidebar-fixed.sidebar-compact .main, html:not([dir=rtl]) .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-left: 155px
    }

    html:not([dir=rtl]) .sidebar-show.sidebar-fixed.sidebar-minimized .main, html:not([dir=rtl]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-left: 50px
    }

    html:not([dir=rtl]) .sidebar-show.breadcrumb-fixed .breadcrumb {
        left: 205px
    }

    html:not([dir=rtl]) .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        left: 155px
    }

    html:not([dir=rtl]) .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        left: 50px
    }
}

html:not([dir=rtl]) .aside-menu-show .aside-menu {
    margin-right: 0
}

@media (min-width: 576px) {
    html:not([dir=rtl]) .aside-menu-show.aside-menu-fixed .main, html:not([dir=rtl]) .aside-menu-show.aside-menu-fixed .app-footer {
        margin-right: 255px
    }

    html:not([dir=rtl]) .aside-menu-show.breadcrumb-fixed .breadcrumb {
        right: 255px
    }
}

html[dir=rtl] .sidebar-show .sidebar {
    margin-right: 0
}

@media (min-width: 576px) {
    html[dir=rtl] .sidebar-show.sidebar-fixed .main, html[dir=rtl] .sidebar-show.sidebar-fixed .app-footer {
        margin-right: 205px
    }

    html[dir=rtl] .sidebar-show.sidebar-fixed.sidebar-compact .main, html[dir=rtl] .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-right: 155px
    }

    html[dir=rtl] .sidebar-show.sidebar-fixed.sidebar-minimized .main, html[dir=rtl] .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-right: 50px
    }

    html[dir=rtl] .sidebar-show.breadcrumb-fixed .breadcrumb {
        right: 205px
    }

    html[dir=rtl] .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        right: 155px
    }

    html[dir=rtl] .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        right: 50px
    }
}

html[dir=rtl] .aside-menu-show .aside-menu {
    margin-left: 0
}

@media (min-width: 576px) {
    html[dir=rtl] .aside-menu-show.aside-menu-fixed .main, html[dir=rtl] .aside-menu-show.aside-menu-fixed .app-footer {
        margin-left: 255px
    }

    html[dir=rtl] .aside-menu-show.breadcrumb-fixed .breadcrumb {
        left: 255px
    }
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@media (max-width: 575.98px) {
    .sidebar-show .main, .aside-menu-show .main {
        position: relative
    }

    .sidebar-show .main::before, .aside-menu-show .main::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1018;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, .7);
        -webkit-animation: opacity .25s;
        animation: opacity .25s
    }
}

@media (min-width: 576px) {
    html:not([dir=rtl]) .sidebar-sm-show .sidebar {
        margin-left: 0
    }
}

@media (min-width: 576px) and (min-width: 576px) {
    html:not([dir=rtl]) .sidebar-sm-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-sm-show.sidebar-fixed .app-footer {
        margin-left: 205px
    }

    html:not([dir=rtl]) .sidebar-sm-show.sidebar-fixed.sidebar-compact .main, html:not([dir=rtl]) .sidebar-sm-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-left: 155px
    }

    html:not([dir=rtl]) .sidebar-sm-show.sidebar-fixed.sidebar-minimized .main, html:not([dir=rtl]) .sidebar-sm-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-left: 50px
    }

    html:not([dir=rtl]) .sidebar-sm-show.breadcrumb-fixed .breadcrumb {
        left: 205px
    }

    html:not([dir=rtl]) .sidebar-sm-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        left: 155px
    }

    html:not([dir=rtl]) .sidebar-sm-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        left: 50px
    }
}

@media (min-width: 576px) {
    html:not([dir=rtl]) .aside-menu-sm-show .aside-menu {
        margin-right: 0
    }
}

@media (min-width: 576px) and (min-width: 576px) {
    html:not([dir=rtl]) .aside-menu-sm-show.aside-menu-fixed .main, html:not([dir=rtl]) .aside-menu-sm-show.aside-menu-fixed .app-footer {
        margin-right: 255px
    }

    html:not([dir=rtl]) .aside-menu-sm-show.breadcrumb-fixed .breadcrumb {
        right: 255px
    }
}

@media (min-width: 576px) {
    html[dir=rtl] .sidebar-sm-show .sidebar {
        margin-right: 0
    }
}

@media (min-width: 576px) and (min-width: 576px) {
    html[dir=rtl] .sidebar-sm-show.sidebar-fixed .main, html[dir=rtl] .sidebar-sm-show.sidebar-fixed .app-footer {
        margin-right: 205px
    }

    html[dir=rtl] .sidebar-sm-show.sidebar-fixed.sidebar-compact .main, html[dir=rtl] .sidebar-sm-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-right: 155px
    }

    html[dir=rtl] .sidebar-sm-show.sidebar-fixed.sidebar-minimized .main, html[dir=rtl] .sidebar-sm-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-right: 50px
    }

    html[dir=rtl] .sidebar-sm-show.breadcrumb-fixed .breadcrumb {
        right: 205px
    }

    html[dir=rtl] .sidebar-sm-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        right: 155px
    }

    html[dir=rtl] .sidebar-sm-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        right: 50px
    }
}

@media (min-width: 576px) {
    html[dir=rtl] .aside-menu-sm-show .aside-menu {
        margin-left: 0
    }
}

@media (min-width: 576px) and (min-width: 576px) {
    html[dir=rtl] .aside-menu-sm-show.aside-menu-fixed .main, html[dir=rtl] .aside-menu-sm-show.aside-menu-fixed .app-footer {
        margin-left: 255px
    }

    html[dir=rtl] .aside-menu-sm-show.breadcrumb-fixed .breadcrumb {
        left: 255px
    }
}

@media (min-width: 576px) {
    @-webkit-keyframes opacity {
        0% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }@keyframes opacity {
         0% {
             opacity: 0
         }
         100% {
             opacity: 1
         }
     }
}

@media (min-width: 576px) and (max-width: 575.98px) {
    .sidebar-sm-show .main, .aside-menu-sm-show .main {
        position: relative
    }

    .sidebar-sm-show .main::before, .aside-menu-sm-show .main::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1018;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, .7);
        -webkit-animation: opacity .25s;
        animation: opacity .25s
    }
}

@media (min-width: 768px) {
    html:not([dir=rtl]) .sidebar-md-show .sidebar {
        margin-left: 0
    }
}

@media (min-width: 768px) and (min-width: 576px) {
    html:not([dir=rtl]) .sidebar-md-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-md-show.sidebar-fixed .app-footer {
        margin-left: 205px
    }

    html:not([dir=rtl]) .sidebar-md-show.sidebar-fixed.sidebar-compact .main, html:not([dir=rtl]) .sidebar-md-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-left: 155px
    }

    html:not([dir=rtl]) .sidebar-md-show.sidebar-fixed.sidebar-minimized .main, html:not([dir=rtl]) .sidebar-md-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-left: 50px
    }

    html:not([dir=rtl]) .sidebar-md-show.breadcrumb-fixed .breadcrumb {
        left: 205px
    }

    html:not([dir=rtl]) .sidebar-md-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        left: 155px
    }

    html:not([dir=rtl]) .sidebar-md-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        left: 50px
    }
}

@media (min-width: 768px) {
    html:not([dir=rtl]) .aside-menu-md-show .aside-menu {
        margin-right: 0
    }
}

@media (min-width: 768px) and (min-width: 576px) {
    html:not([dir=rtl]) .aside-menu-md-show.aside-menu-fixed .main, html:not([dir=rtl]) .aside-menu-md-show.aside-menu-fixed .app-footer {
        margin-right: 255px
    }

    html:not([dir=rtl]) .aside-menu-md-show.breadcrumb-fixed .breadcrumb {
        right: 255px
    }
}

@media (min-width: 768px) {
    html[dir=rtl] .sidebar-md-show .sidebar {
        margin-right: 0
    }
}

@media (min-width: 768px) and (min-width: 576px) {
    html[dir=rtl] .sidebar-md-show.sidebar-fixed .main, html[dir=rtl] .sidebar-md-show.sidebar-fixed .app-footer {
        margin-right: 205px
    }

    html[dir=rtl] .sidebar-md-show.sidebar-fixed.sidebar-compact .main, html[dir=rtl] .sidebar-md-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-right: 155px
    }

    html[dir=rtl] .sidebar-md-show.sidebar-fixed.sidebar-minimized .main, html[dir=rtl] .sidebar-md-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-right: 50px
    }

    html[dir=rtl] .sidebar-md-show.breadcrumb-fixed .breadcrumb {
        right: 205px
    }

    html[dir=rtl] .sidebar-md-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        right: 155px
    }

    html[dir=rtl] .sidebar-md-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        right: 50px
    }
}

@media (min-width: 768px) {
    html[dir=rtl] .aside-menu-md-show .aside-menu {
        margin-left: 0
    }
}

@media (min-width: 768px) and (min-width: 576px) {
    html[dir=rtl] .aside-menu-md-show.aside-menu-fixed .main, html[dir=rtl] .aside-menu-md-show.aside-menu-fixed .app-footer {
        margin-left: 255px
    }

    html[dir=rtl] .aside-menu-md-show.breadcrumb-fixed .breadcrumb {
        left: 255px
    }
}

@media (min-width: 768px) {
    @-webkit-keyframes opacity {
        0% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }@keyframes opacity {
         0% {
             opacity: 0
         }
         100% {
             opacity: 1
         }
     }
}

@media (min-width: 768px) and (max-width: 575.98px) {
    .sidebar-md-show .main, .aside-menu-md-show .main {
        position: relative
    }

    .sidebar-md-show .main::before, .aside-menu-md-show .main::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1018;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, .7);
        -webkit-animation: opacity .25s;
        animation: opacity .25s
    }
}

@media (min-width: 992px) {
    html:not([dir=rtl]) .sidebar-lg-show .sidebar {
        margin-left: 0
    }
}

@media (min-width: 992px) and (min-width: 576px) {
    html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .app-footer {
        margin-left: 205px
    }

    html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .main, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-left: 155px
    }

    html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-left: 50px
    }

    html:not([dir=rtl]) .sidebar-lg-show.breadcrumb-fixed .breadcrumb {
        left: 205px
    }

    html:not([dir=rtl]) .sidebar-lg-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        left: 155px
    }

    html:not([dir=rtl]) .sidebar-lg-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        left: 50px
    }
}

@media (min-width: 992px) {
    html:not([dir=rtl]) .aside-menu-lg-show .aside-menu {
        margin-right: 0
    }
}

@media (min-width: 992px) and (min-width: 576px) {
    html:not([dir=rtl]) .aside-menu-lg-show.aside-menu-fixed .main, html:not([dir=rtl]) .aside-menu-lg-show.aside-menu-fixed .app-footer {
        margin-right: 255px
    }

    html:not([dir=rtl]) .aside-menu-lg-show.breadcrumb-fixed .breadcrumb {
        right: 255px
    }
}

@media (min-width: 992px) {
    html[dir=rtl] .sidebar-lg-show .sidebar {
        margin-right: 0
    }
}

@media (min-width: 992px) and (min-width: 576px) {
    html[dir=rtl] .sidebar-lg-show.sidebar-fixed .main, html[dir=rtl] .sidebar-lg-show.sidebar-fixed .app-footer {
        margin-right: 205px
    }

    html[dir=rtl] .sidebar-lg-show.sidebar-fixed.sidebar-compact .main, html[dir=rtl] .sidebar-lg-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-right: 155px
    }

    html[dir=rtl] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main, html[dir=rtl] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-right: 50px
    }

    html[dir=rtl] .sidebar-lg-show.breadcrumb-fixed .breadcrumb {
        right: 205px
    }

    html[dir=rtl] .sidebar-lg-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        right: 155px
    }

    html[dir=rtl] .sidebar-lg-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        right: 50px
    }
}

@media (min-width: 992px) {
    html[dir=rtl] .aside-menu-lg-show .aside-menu {
        margin-left: 0
    }
}

@media (min-width: 992px) and (min-width: 576px) {
    html[dir=rtl] .aside-menu-lg-show.aside-menu-fixed .main, html[dir=rtl] .aside-menu-lg-show.aside-menu-fixed .app-footer {
        margin-left: 255px
    }

    html[dir=rtl] .aside-menu-lg-show.breadcrumb-fixed .breadcrumb {
        left: 255px
    }
}



@media (min-width: 992px) and (max-width: 575.98px) {
    .sidebar-lg-show .main, .aside-menu-lg-show .main {
        position: relative
    }

    .sidebar-lg-show .main::before, .aside-menu-lg-show .main::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1018;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, .7);
        -webkit-animation: opacity .25s;
        animation: opacity .25s
    }
}

@media (min-width: 1205px) {
    html:not([dir=rtl]) .sidebar-xl-show .sidebar {
        margin-left: 0
    }
}

@media (min-width: 1205px) and (min-width: 576px) {
    html:not([dir=rtl]) .sidebar-xl-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-xl-show.sidebar-fixed .app-footer {
        margin-left: 205px
    }

    html:not([dir=rtl]) .sidebar-xl-show.sidebar-fixed.sidebar-compact .main, html:not([dir=rtl]) .sidebar-xl-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-left: 155px
    }

    html:not([dir=rtl]) .sidebar-xl-show.sidebar-fixed.sidebar-minimized .main, html:not([dir=rtl]) .sidebar-xl-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-left: 50px
    }

    html:not([dir=rtl]) .sidebar-xl-show.breadcrumb-fixed .breadcrumb {
        left: 205px
    }

    html:not([dir=rtl]) .sidebar-xl-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        left: 155px
    }

    html:not([dir=rtl]) .sidebar-xl-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        left: 50px
    }
}

@media (min-width: 1205px) {
    html:not([dir=rtl]) .aside-menu-xl-show .aside-menu {
        margin-right: 0
    }
}

@media (min-width: 1205px) and (min-width: 576px) {
    html:not([dir=rtl]) .aside-menu-xl-show.aside-menu-fixed .main, html:not([dir=rtl]) .aside-menu-xl-show.aside-menu-fixed .app-footer {
        margin-right: 255px
    }

    html:not([dir=rtl]) .aside-menu-xl-show.breadcrumb-fixed .breadcrumb {
        right: 255px
    }
}

@media (min-width: 1205px) {
    html[dir=rtl] .sidebar-xl-show .sidebar {
        margin-right: 0
    }
}

@media (min-width: 1205px) and (min-width: 576px) {
    html[dir=rtl] .sidebar-xl-show.sidebar-fixed .main, html[dir=rtl] .sidebar-xl-show.sidebar-fixed .app-footer {
        margin-right: 205px
    }

    html[dir=rtl] .sidebar-xl-show.sidebar-fixed.sidebar-compact .main, html[dir=rtl] .sidebar-xl-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-right: 155px
    }

    html[dir=rtl] .sidebar-xl-show.sidebar-fixed.sidebar-minimized .main, html[dir=rtl] .sidebar-xl-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-right: 50px
    }

    html[dir=rtl] .sidebar-xl-show.breadcrumb-fixed .breadcrumb {
        right: 205px
    }

    html[dir=rtl] .sidebar-xl-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        right: 155px
    }

    html[dir=rtl] .sidebar-xl-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        right: 50px
    }
}

@media (min-width: 1205px) {
    html[dir=rtl] .aside-menu-xl-show .aside-menu {
        margin-left: 0
    }
}

@media (min-width: 1205px) and (min-width: 576px) {
    html[dir=rtl] .aside-menu-xl-show.aside-menu-fixed .main, html[dir=rtl] .aside-menu-xl-show.aside-menu-fixed .app-footer {
        margin-left: 255px
    }

    html[dir=rtl] .aside-menu-xl-show.breadcrumb-fixed .breadcrumb {
        left: 255px
    }
}

@media (min-width: 1205px) {
    @-webkit-keyframes opacity {
        0% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }@keyframes opacity {
         0% {
             opacity: 0
         }
         100% {
             opacity: 1
         }
     }
}

@media (min-width: 1205px) and (max-width: 575.98px) {
    .sidebar-xl-show .main, .aside-menu-xl-show .main {
        position: relative
    }

    .sidebar-xl-show .main::before, .aside-menu-xl-show .main::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1018;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, .7);
        -webkit-animation: opacity .25s;
        animation: opacity .25s
    }
}

.footer-fixed .app-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1020;
    height: 50px
}

.footer-fixed .app-body {
    margin-bottom: 50px
}

.app-header, .app-footer, .sidebar, .main, .aside-menu {
    transition: margin-left .25s, margin-right .25s, width .25s, flex .25s;
    transition: margin-left .25s, margin-right .25s, width .25s, flex .25s, -ms-flex .25s
}

.sidebar-nav {
    transition: width .25s
}

.breadcrumb {
    transition: left .25s, right .25s, width .25s
}

@media (max-width: 991.98px) {
    .app-header {
        position: fixed;
        z-index: 1020;
        width: 100%;
        text-align: center;
        background-color: #fff
    }

    .app-header .navbar-toggler {
        color: #fff
    }

    .app-header .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -77.5px
    }

    .app-body {
        margin-top: 55px
    }

    .sidebar {
        position: fixed;
        z-index: 1019;
        width: 205px;
        height: calc(100vh - 55px)
    }

    /*.sidebar-minimizer {
        display: none
    }*/

    .aside-menu {
        position: fixed;
        right: 0;
        height: 100%
    }
    .d-md-down-none {
        display: none!important;
    }
    .sidebar {
        position: fixed;
        z-index: 1019;
        width: 205px;
        height: calc(100vh);
    }
}
@media (max-width: 769px){
    .sidebar .sidebar-minimizer{
        display: none;
    }
}