/* MEDIA */
/* FONT */
/*$font_italic: opensans-italic, Arial, Helvetica, sans-serif;
$font_medium: opensans-bold, Arial, Helvetica, sans-serif;
$font_medium_italic: opensans-bolditalic, Arial, Helvetica, sans-serif;
$font_bold: opensans-extrabold, Arial, Helvetica, sans-serif;
$font_bold_italic: opensans-semibolditalic, Arial, Helvetica, sans-serif;*/
/* COLOR */
/* COLOR */
.white {
  color: #ffffff; }

.bgay {
  color: #585657; }

.grey {
  color: #9d9d9b; }

.light_brey {
  color: #dfdfdf; }

.light {
  color: #f2f2f2; }

.green {
  color: #7ea40c; }

.light_green {
  color: #abce0c; }

.red {
  color: #ff0000; }

.spint {
  color: #d60b52; }

.light_blue {
  color: #00a096; }

.blue {
  color: #183c6c; }

.yello {
  color: #dc9807; }

.black {
  color: #3b3b3b; }

.background-blue {
  background-color: #183c6c; }

.background-lignt_blue {
  background-color: #00a096; }

.background-lignt_green {
  background-color: #abce0c; }

.background-yello {
  background-color: #dc9807; }

.background-spint {
  background-color: #d60b52; }

.background-red {
  background-color: #ff0000; }

.background-light_yello {
  background-color: #dcd12e; }

.line_height_20 {
  line-height: 20px; }

@media screen and (max-width: 575px) {
  .hidden-xs {
    display: none; } }
.top-menue-bar .fontWhite {
  margin-top: 3px; }
  .top-menue-bar .fontWhite .glyphicons-menu-hamburger {
    font-size: 23px;
    margin-top: -8px; }
.top-menue-bar .glyphicons-user-remove {
  font-size: 20px;
  line-height: 16px; }
.top-menue-bar .logout-text {
  line-height: 32px; }
.top-menue-bar .show > .btn-secondary.dropdown-toggle {
  border-color: #183c6c;
  background-color: #ffffff;
  color: #3b3b3b; }
.top-menue-bar .group-language {
  display: inline-block;
  padding-top: 0px; }
.top-menue-bar .group-language button {
  border-color: #183c6c;
  background-color: #ffffff;
  color: #3b3b3b;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  padding: 5px 8px 5px;
  margin-bottom: 4px; }

.headerWrapper .header-news {
  font-size: 18px;
  text-transform: uppercase; }
  .headerWrapper .header-news .headerNewsLink {
    overflow: hidden;
    display: inline-block; }
  .headerWrapper .header-news .halflings {
    float: left;
    padding-right: 5px; }
  .headerWrapper .header-news .header-bottom-text {
    line-height: 20px;
    color: #585657;
    float: left; }
.headerWrapper .header-logo-rp {
  padding-right: 20px; }
.headerWrapper .header-bottom-logo {
  margin-top: -10px; }
.headerWrapper .header-bottom-right {
  padding-top: 10px; }

.select2-container select2-container--default {
  max-width: 100%; }

.dataTables_wrapper.dt-bootstrap4 .dataTables_paginate {
  padding-top: 10px; }

.main-contain p {
  word-break: break-word; }

#yourSalesOverview,
#productExtra {
  min-height: calc(100vh - 322px); }
  @media (max-width: 767px) {
    #yourSalesOverview,
    #productExtra {
      min-height: calc(100vh - 310px); } }

@media screen and (max-width: 991px) {
  .headerWrapper .header-news {
    font-size: 16px; }
  .headerWrapper .header-logo-rp {
    height: 33px;
    padding-right: 0px; }
  .headerWrapper .header-logo-gh {
    height: 29px; }
  .headerWrapper .item-center {
    margin-left: -10px;
    margin-right: 10px; }
  .headerWrapper .header-bottom-logo {
    margin-top: -5px; } }
@media screen and (max-width: 767px) {
  .top-menue-bar .sidebar-toggler {
    padding-left: 0px;
    margin-left: -8px; }
  .top-menue-bar .group-language {
    display: block !important;
    text-align: center;
    margin-top: 2px; } }
@media screen and (min-width: 1400px) {
  .container {
    max-width: 100% !important; }

  .sidebar-lg-show .banner .container {
    padding-left: 220px !important; }

  .sidebar-lg-show .container {
    padding-left: 225px !important; }

  .sidebar-minimized .container {
    padding-left: 65px !important; } }
@media screen and (max-width: 767px) {
  .headerWrapper .container {
    padding: 0; } }
.dataTables_wrapper.dt-bootstrap4 {
  overflow: auto;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.4px; }
  .dataTables_wrapper.dt-bootstrap4 table.dataTable tbody th, .dataTables_wrapper.dt-bootstrap4 table.dataTable tbody td {
    padding: 8px 8px;
    font-size: 14px;
    line-height: 20px; }
  .dataTables_wrapper.dt-bootstrap4 table.dataTable thead th, .dataTables_wrapper.dt-bootstrap4 table.dataTable thead td {
    padding: 10px 8px;
    font-size: 14px;
    line-height: 20px; }
  .dataTables_wrapper.dt-bootstrap4 > div:nth-child(1) {
    overflow: hidden;
    background-color: #f2f2f2; }
  .dataTables_wrapper.dt-bootstrap4 img {
    max-width: 100px;
    width: 100px; }
  .dataTables_wrapper.dt-bootstrap4 .dataTables_length {
    float: right;
    margin-right: 15px; }
    .dataTables_wrapper.dt-bootstrap4 .dataTables_length select.form-control {
      height: 37px;
      width: 77px;
      margin-top: 8px;
      background-color: #9d9d9b;
      /* fallback color if gradients are not supported */
      background-image: url(../images/select-row.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4);
      /* For Chrome and Safari */
      background-image: url(../images/select-row.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4);
      /* For old Fx (3.6 to 15) */
      background-image: url(../images/select-row.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4);
      /* For pre-releases of IE 10*/
      background-image: url(../images/select-row.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4);
      /* For old Opera (11.1 to 12.0) */
      background-image: url(../images/select-row.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4);
      /* Standard syntax; must be last */
      background-repeat: no-repeat;
      background-size: 50% 100%;
      background-position: right top;
      border: none; }
      .dataTables_wrapper.dt-bootstrap4 .dataTables_length select.form-control:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent; }
  .dataTables_wrapper.dt-bootstrap4 .dataTables_filter {
    float: left;
    margin-left: 7px; }
    .dataTables_wrapper.dt-bootstrap4 .dataTables_filter input.form-control {
      height: 37px;
      width: 250px;
      margin-top: 8px; }
  .dataTables_wrapper.dt-bootstrap4 tbody {
    text-transform: uppercase; }
    .dataTables_wrapper.dt-bootstrap4 tbody tr td:last-child {
      text-align: right; }
  .dataTables_wrapper.dt-bootstrap4 .halflings-note {
    font-size: 25px; }
  .dataTables_wrapper.dt-bootstrap4 .halflings-ok {
    display: block;
    text-align: center; }
  .dataTables_wrapper.dt-bootstrap4 .glyphicons-remove-sign, .dataTables_wrapper.dt-bootstrap4 .glyphicons-pencil {
    color: #585657;
    margin-top: 10px;
    cursor: pointer; }
  .dataTables_wrapper.dt-bootstrap4 .btn {
    display: block; }
  .dataTables_wrapper.dt-bootstrap4 .btn-info {
    padding-left: 11px;
    padding-right: 15px; }
  .dataTables_wrapper.dt-bootstrap4 .btn-secondary {
    margin-top: 5px; }
  .dataTables_wrapper.dt-bootstrap4 .dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    padding-top: 25px;
    overflow: hidden; }
    .dataTables_wrapper.dt-bootstrap4 .dataTables_paginate .pagination {
      float: right;
      margin: 2px 0;
      white-space: nowrap; }
      .dataTables_wrapper.dt-bootstrap4 .dataTables_paginate .pagination .paginate_button {
        background: #ffffff;
        padding: 0;
        margin-left: 0; }
        .dataTables_wrapper.dt-bootstrap4 .dataTables_paginate .pagination .paginate_button .page-link, .dataTables_wrapper.dt-bootstrap4 .dataTables_paginate .pagination .paginate_button span {
          position: relative;
          float: left;
          padding: 10px 15px;
          margin-left: -1px;
          line-height: 1.42857143;
          text-decoration: none;
          background-color: #fff;
          border: 1px solid #ddd;
          color: #183c6c;
          font-family: "Open Sans", Arial, Helvetica, sans-serif; }
          .dataTables_wrapper.dt-bootstrap4 .dataTables_paginate .pagination .paginate_button .page-link:focus, .dataTables_wrapper.dt-bootstrap4 .dataTables_paginate .pagination .paginate_button .page-link:hover, .dataTables_wrapper.dt-bootstrap4 .dataTables_paginate .pagination .paginate_button span:focus, .dataTables_wrapper.dt-bootstrap4 .dataTables_paginate .pagination .paginate_button span:hover {
            box-shadow: none;
            border: 1px solid #ddd;
            background-color: #183c6c;
            color: #ffffff; }
        .dataTables_wrapper.dt-bootstrap4 .dataTables_paginate .pagination .paginate_button:hover {
          color: #23527c;
          background-color: #eee;
          border-color: #ddd; }
  .dataTables_wrapper.dt-bootstrap4 .dataTables_info {
    max-width: 60%; }
  .dataTables_wrapper.dt-bootstrap4 .show_info {
    overflow: hidden; }
    .dataTables_wrapper.dt-bootstrap4 .show_info a {
      float: left; }
    .dataTables_wrapper.dt-bootstrap4 .show_info span {
      float: left;
      line-height: 32px;
      margin-left: 10px; }

.table-action {
  overflow: hidden; }
  .table-action a {
    float: left;
    margin: 3px;
    padding: 10px 12px; }
    .table-action a .fa-edit {
      margin-right: -5px; }

@media screen and (max-width: 991px) {
  /*.dataTables_wrapper.dt-bootstrap4{
    .show_info{
      overflow: hidden;
      a{
        float: left;
      }
      span{
        float: right;
        line-height: 32px;
      }
    }
  }*/ }
@media screen and (max-width: 575px) {
  .dataTables_wrapper.dt-bootstrap4 .dataTables_filter {
    float: left;
    margin-left: 7px; }
    .dataTables_wrapper.dt-bootstrap4 .dataTables_filter input.form-control {
      height: 37px;
      width: 235px;
      margin-top: 7px; } }
#yourSalesOverview {
  padding-bottom: 10px; }
  #yourSalesOverview .banner {
    position: relative;
    background-color: #183c6c;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 22px; }
    #yourSalesOverview .banner h1 {
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
      font-size: 28px;
      line-height: 1.27;
      color: #ffffff;
      text-align: center;
      margin: 0; }
    #yourSalesOverview .banner a {
      color: #ffffff; }
      #yourSalesOverview .banner a:hover {
        text-decoration: none; }
      #yourSalesOverview .banner a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
    #yourSalesOverview .banner .group-banner {
      margin: 0 auto;
      font: "Open Sans Condensed", Arial, Helvetica, sans-serif; }
      #yourSalesOverview .banner .group-banner .item {
        width: 140px;
        height: 140px;
        background-color: #9d9d9b;
        display: inline-block;
        overflow: hidden;
        margin: 20px;
        color: #ffffff;
        padding: 12px 10px 12px 10px; }
        #yourSalesOverview .banner .group-banner .item .top-item {
          font-size: 29px;
          font-weight: 300; }
          #yourSalesOverview .banner .group-banner .item .top-item .halflings {
            font-size: 25px;
            line-height: 1.39;
            font-family: "Glyphicons Halflings"; }
          #yourSalesOverview .banner .group-banner .item .top-item .glyphicons-handshake {
            font-size: 25px; }
        #yourSalesOverview .banner .group-banner .item hr {
          border: 0.5px solid #ffffff;
          margin-bottom: 15px;
          margin-top: 5px; }
        #yourSalesOverview .banner .group-banner .item p {
          text-transform: uppercase;
          font-size: 15.5px;
          line-height: 1.13; }
      #yourSalesOverview .banner .group-banner .item1 {
        background-color: #00a096; }
      #yourSalesOverview .banner .group-banner .item2 {
        background-color: #dc9807; }
      #yourSalesOverview .banner .group-banner .item3 {
        background-color: #abce0c; }
      #yourSalesOverview .banner .group-banner .item4 {
        background-color: #ff0000; }
  #yourSalesOverview #datatableOrderOverView_wrapper .status {
    font-size: 25px;
    width: 50px; }
    #yourSalesOverview #datatableOrderOverView_wrapper .status .glyphicons {
      margin-left: -7px; }
  #yourSalesOverview #datatableOrderOverView_wrapper .document {
    position: relative;
    padding-left: 40px; }
    #yourSalesOverview #datatableOrderOverView_wrapper .document .halflings {
      position: absolute;
      top: -3px;
      left: 0px; }
  #yourSalesOverview #datatableOrderOverView_wrapper .order-minimun {
    display: block;
    margin-left: -30px;
    text-align: center; }
  #yourSalesOverview #datatableOrderOverView_wrapper .status {
    color: #ffffff; }

/*@media screen  and (max-width: $media_max_767) {
  .footerWrapper{
    margin-top: -30px;
  }
}*/
@media screen and (max-width: 575px) {
  #yourSalesOverview .banner .group-banner .item {
    margin: 15px; }

  #yourSalesOverview .banner .group-banner .item {
    width: 130px !important;
    height: 130px !important; }

  #yourSalesOverview .banner .group-banner .item {
    margin: 5px; } }
@media screen and (max-width: 359px) {
  #yourSalesOverview .banner .group-banner .item {
    width: 112px !important;
    height: 112px !important; }

  #yourSalesOverview .banner .group-banner .item {
    margin: 4px; } }

/*# sourceMappingURL=order-overview.css.map */
