<section>
    <div class="container-fluid headerWrapper pt-2 pb-2">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-5 col-5 col-md-2">
                    <a href="/dashboard">
                        <img src="/images/admin-tool-new-invert-logo.png" height="95px" class="header-logo">
                    </a>
                </div>
                <div class="col-7 col-sm-4 col-md-8 header-bottom-right">
                    <div class="row header-news">
                        <div class="col-12 col-md-5 col-lg-4">
                            <a href="/order-overview" title="10 Messages" class="headerNewsLink fontGreyDark">
                                <span class="halflings halflings-envelope fontBlue"></span>&nbsp;
                                <span class="header-bottom-text">
                                    <strong id="total_message">0</strong>&nbsp;Messages </span>
                            </a>
                        </div>
                        <div
                            class="col-12 colß-md-3  col-lg-4 pt-2 pt-md-0 d-none d-xs-inline d-md-inline text-center item-center">
                        </div>
                        <div class="col-12 col-md-4  col-lg-4 pt-2 pt-md-0">
                            <a href="/order-overview" title="2 Orders" class="headerNewsLink fontGreyDark">
                                <span class="halflings halflings-inbox fontBlue"></span>&nbsp;
                                <span class="header-bottom-text">
                                    <strong>2</strong>&nbsp;Orders</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    class="col-sm-3 col-md-2 text-right d-none d-sm-inline d-md-inline d-lg-inline d-xl-inline header-bottom-logo">
                    <a href="https://www.restposten.de" title="RESTPOSTEN.de">
                        <img src="/images/rp-visual.png" class="header-logo-rp">
                    </a>
                    <a href="https://www.grosshandel.eu" title="grosshandel.eu">
                        <img src="/images/gh-visual.png" class="header-logo-gh">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>