<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">

            <li class="nav-item open">
                <a class="nav-link active" href="/">
                    <span class="nav-icon glyphicons glyphicons-home"></span> Dashboard</a>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <span class="nav-icon glyphicons glyphicons-inbox"></span> Order management</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/order-overview">
                            <span class="nav-icon glyphicons glyphicons-signal"></span> My sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order-archive">
                            <span class="nav-icon glyphicons glyphicons-briefcase"></span> My archived sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my-purchase">
                            <span class="nav-icon glyphicons glyphicons-credit-card"></span> My purchases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon glyphicons glyphicons-credit-card"></span> My Purchase Archive</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <span class="nav-icon glyphicons glyphicons-shop-window"></span> Sell</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon glyphicons glyphicons-plus"></span> Add simple product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon glyphicons glyphicons-plus-sign"></span> Add product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon glyphicons glyphicons-plus"></span> My Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon glyphicons glyphicons-list"></span> CSV Tools</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <span class="nav-icon glyphicons glyphicons-compass"></span> Support</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon glyphicons glyphicons-invoice"></span> Price list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon glyphicons glyphicons-cube-black"></span> Product conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon glyphicons glyphicons-multiple-displays"></span> Live support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon glyphicons glyphicons-book"></span> Documentations</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
    <nav class="sidebar-nav nav-bottom">
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon glyphicons glyphicons-log-out"></span> Logout</a>
            </li>

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>