<section>
    <div class="top-menue-bar fixed-top">
        <div class="container">
            <div class="row">

                <div class="col-2 col-sm-1 col-md-1 vertical-center-text-left">

                    <a href="javascript:void(0);" class="fontWhite navbar-toggler sidebar-toggler d-lg-none mr-auto"
                        data-toggle="sidebar-show">
                        <span class="glyphicons glyphicons-menu-hamburger fontSize16 cursor-pointer"></span>
                    </a>
                    <a href="javascript:void(0);" class="fontWhite navbar-toggler sidebar-toggler d-md-down-none"
                        data-toggle="sidebar-lg-show">
                        <span class="glyphicons glyphicons-menu-hamburger fontSize16 cursor-pointer"></span>
                    </a>

                </div>
                <div class="col-1 col-sm-3 col-md-6 vertical-center-text-left d-none d-sm-inline">
                    <div class="vertical-center-text-left logout-text">
                        <a href="/logout.php"><span class="glyphicons glyphicons-user-remove"></span>
                            <span class="d-none d-md-inline d-lg-inline d-xl-inline">&nbsp;Logout</span>
                        </a>
                    </div>
                </div>
                <div class="col-8 col-sm-4 col-md-2 d-flex align-items-center group-language">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="/images/flag-english.png" alt="English version" title="English version">&nbsp;English
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item dropdownLinks" href="/dashboard?language=german" style="">
                            <img src="/images/flag-german.png" alt="Deutsche Version"
                                title="Deutsche Version">&nbsp;Deutsch
                        </a>
                        <a class="dropdown-item dropdownLinks" href="/dashboard?language=english" style="">
                            <img src="/images/flag-english.png" alt="English version"
                                title="English version">&nbsp;English
                        </a>
                    </div>
                </div>
                <div class="col-2 col-sm-4 col-md-3 pb-1 pt-1 top-phone text-right mt-1">
                    <a href="tel:+49 212 380890">
                        <span class="halflings halflings-phone-alt fontSize12"></span>
                        <span class="d-none d-xs-inline d-sm-inline">&nbsp;+49 212 380890</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>